@import "bootstrap";

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

#wrapper.theme-light {
    .navbar {
        @extend .bg-light;
        @extend .navbar-light;
   }
    .navbar-nav  li a:hover {
        color: #1abc9c !important;
   }
}

#wrapper.theme-dark {
    .navbar {
        @extend .bg-dark;
        @extend .navbar-dark;
   }
    .navbar-nav  li a:hover {
        color: #1abc9c !important;
   }
}
